.callout{
	border: 1px solid $gray-lighter;
	border-radius: $border-radius-base;
	padding: $grid-gutter-width/2;
	margin-top: $grid-gutter-width;
	margin-bottom: $grid-gutter-width;

	&.callout-info{
		h4{
			color: $brand-info;
		}
		border-left: 5px solid $brand-info;
	}
}